body{
    background-color: #e9dcd6;
    padding-bottom: 60px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main{
    width: 100%;
    transition: opacity 1s;
}

.isLoading{
    opacity: 0;
}

.list{
    display: flex;
    flex-direction: column;
    max-height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #fff;
    position: absolute;
    display: none;
}

.list span{
    white-space: nowrap;
    padding: 2px;
}

.logo{
    text-align: center;
}

.logo img{
    width: 70px;
}

.product{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product__name{
    flex-grow: 1;
}

.product__info{
    display: flex;
    gap: 15px;
}

.product__value{
    width: 70px;
}

#order{
    background-color: #3d2523;
    color: #e9dcd6;
}